<!-- toolbar component -->
<app-toolbar [title]="'100 Angular Challenge'">
  <ul>
    <li>Components</li>
    <li>Directives</li>
    <li>Services</li>
    <li>Pipes</li>
    <li>Other</li>
  </ul>
</app-toolbar>

<main>
  <!-- card component -->
  <app-card
    [iconClasses]="'fas fa-info-circle'"
    [title]="'Accordion'"
    [subTitle]="'Components'"
  >
    <!-- nested accordion component -->
    <app-accordion body [items]="accordionItems"></app-accordion>
  </app-card>

  <!-- card component -->
  <app-card
    [iconClasses]="'fas fa-info-circle'"
    [title]="'Card'"
    [subTitle]="'Components'"
  >
    <p body>Body Content</p>
    <p footer>FooterContent</p>
  </app-card>
</main>
